
body {
  padding: 0 0 40px 0;
  background-color: #eee;
}

.container {
  position: relative;
  width: 100%;
}

.jumbotron {
  position: relative;
  top: 100px;
}

.joinedEvt {
  position: relative;
  display: inline;
  width: 35%;
  float: left;
  margin: 0 7.5%;
}

.activityCont {
  position: relative;
  max-width: 100%;
  height: auto;
  text-align: left;
  padding-bottom: 65px;
}

b {
  font: small-caps 600 24px/24px "PT Sans", "Open Sans", Helvetica, sans-serif;
  color: #FFF;
}

p {
  position: relative;
  display: inline-block;
  float: left;
  text-align: left;
  color: #524A4A;
}

p.rightP {
  position: relative;
  display: inline-block;
  float: right;
}

.activityCont > div {
  position: relative;
  clear: both;
}
